.error-box {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  color: red;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
}