<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<title>Документ без названия</title>
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> 
	<link rel="stylesheet" type="text/css" href="css/template_styles.css">
	
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i|PT+Serif:400,400i,700,700i&amp;subset=cyrillic-ext" rel="stylesheet">
	
	<!--Plugin CSS file with desired skin-->
    <link rel="stylesheet" href="css/ion.rangeSlider.css"/>
    
    
	<!--jQuery-->
	<script src="js/jquery-3.3.1.min.js"></script>
	
	<!--Plugin JavaScript file-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
	
	<script src="js/script.js"></script>
</head>

<body> 
	
	<header class="header"> 
			
		<div class="header__phone"><p>+7 (3519) 580-111</p></div>
		<div class="header__logo"><img src="images/logo.png" alt="Другое измерение" /></div>	
		<div class="header__social">
			<i class="header__ico"></i> 
			<i class="header__ico"></i>
			<i class="header__ico"></i>
		</div>
			
	</header>
	
	<section class="slider"> 	
		<img src="images/slide.jpg" alt="" />
	</section>
	  
	<section class="advan-block wrapper">
		<div class="advan-block__item">
			<div class="advan-block__img"><img src="images/ico.png" alt=""> </div>
			<div class="advan-block__text">Полезный подарок в любой ситуации</div>
		</div>
		<div class="advan-block__item">
			<div class="advan-block__img"><img src="images/ico.png" alt=""> </div>
			<div class="advan-block__text">Полезный подарок в любой ситуации</div>
		</div>
		<div class="advan-block__item">
			<div class="advan-block__img"><img src="images/ico.png" alt=""> </div>
			<div class="advan-block__text">Полезный подарок в любой ситуации</div>
		</div>
		<div class="advan-block__item">
			<div class="advan-block__img"><img src="images/ico.png" alt=""> </div>
			<div class="advan-block__text">Полезный подарок в любой ситуации</div>
		</div>
	</section>
	
	<h1 class="main-title">подобрать подарочный сертификат</h1>
	
	
	<div class="tub-block wrapper">
		<div class="tub-block__item tub-block__item-activ">На сумму</div>
		<div class="tub-block__item">На процедуру</div>
		<div class="tub-block__item">По поводу</div>
		<div class="tub-block__item">комплимент на выбор </div>
	</div>
	 
	 
	<div class="choose-block">
		<div class="choose-block__content">
			<div class="choose-block__img"> <img src="images/jpg.jpg" /> </div>
			
			<div class="choose-block__info">
				<div class="choose-block__caption">Подарочный сертификат</div>
				<div class="choose-block__title">На сумму</div>
				<div class="choose-block__desc">Вы можете приобрести подарочный сертификат на любую из программ СПА центра «Другое Измерение» номиналом от 1 000 рублей. Мы доставим подарочный сертификат Вам или тому, кому он адресован.</div>
				
				<div class="choose-block__line">
					<span class="choose-block__capt2">Установите сумму сертификата</span>
					<input type="text" class="js-range-slider" name="my_range" value="" />
				</div>
				
				<div class="choose-block__bot">
					<div>
						<span class="choose-block__caption">Подарочный сертификат на сумму</span>
						<div class="choose-block__price">5 000 р.</div>
					</div>
					<div class="choose-block__button">Купить</div>
				</div>
			</div>
		</div>
	</div>
	
	<h2 class="main-title">Выбрать подарочный сертификат</h2>
	
	<div class="tub-block wrapper">
		<div class="tub-block__item tub-block__item-activ">На сумму</div>
		<div class="tub-block__item">На процедуру</div>
		<div class="tub-block__item">По поводу</div>
		<div class="tub-block__item">комплимент на выбор </div>
	</div>
	
	<div class="text-block wrapper">
		Вы точно знаете, что именно нужно подарить, уверены, что тот, кому вы приобретаете спа-сертификат, будет рад вашему подарку: салонной процедуре или, например, релаксирующему сеансу в хамаме. Вы точно знаете, что именно нужно подарить, уверены, что тот, кому вы приобретаете спа-сертификат, будет рад вашему подарку: салонной процедуре или, например, релаксирующему сеансу в хамаме. Вы точно знаете, что именно нужно подарить, уверены, что тот, кому вы приобретаете спа-сертификат, будет рад вашему подарку: салонной процедуре или, например, релаксирующему сеансу в хамаме. 
	</div>
	 
	
	<div class="card-content wrapper">
		<div class="card">
			<div class="card__img"><img src="images/jpg.jpg" /></div>

			<div class="card_info">
				<div class="card__caption">Подарочный сертификат</div>
				<div class="card__title">Тайский липоредуцирующий массаж </div>
				<div class="card__desc">Методика состоит из трех последовательных этапов коррекции: активации распада липидов в подкожно-жировой клетчатке; выведение.</div>
				
				<div class="card__more"><span>подробнее</span></div>
				
				<div class="card__bottom">
					<div class="card__price">5 000 р.</div>
					<div class="card__button">Купить</div>
				</div>
			</div>
		</div>	
		
		<div class="card">
			<div class="card__img"><img src="images/jpg.jpg" /></div>

			<div class="card_info">
				<div class="card__caption">Подарочный сертификат</div>
				<div class="card__title">Тайский липоредуцирующий массаж </div>
				<div class="card__desc">Методика состоит из трех последовательных этапов коррекции: активации распада липидов в подкожно-жировой клетчатке; выведение.</div>
				
				<div class="card__more"><span>подробнее</span></div>
				
				<div class="card__bottom">
					<div class="card__price">5 000 р.</div>
					<div class="card__button">Купить</div>
				</div>
			</div>
		</div>	
		
		<div class="card">
			<div class="card__img"><img src="images/jpg.jpg" /></div>

			<div class="card_info">
				<div class="card__caption">Подарочный сертификат</div>
				<div class="card__title">Тайский липоредуцирующий массаж </div>
				<div class="card__desc">Методика состоит из трех последовательных этапов коррекции: активации распада липидов в подкожно-жировой клетчатке; выведение.</div>
				
				<div class="card__more"><span>подробнее</span></div>
				
				<div class="card__bottom">
					<div class="card__price">5 000 р.</div>
					<div class="card__button">Купить</div>
				</div>
			</div>
		</div>	
		
		<div class="card">
			<div class="card__img"><img src="images/jpg.jpg" /></div>

			<div class="card_info">
				<div class="card__caption">Подарочный сертификат</div>
				<div class="card__title">Тайский липоредуцирующий массаж </div>
				<div class="card__desc">Методика состоит из трех последовательных этапов коррекции: активации распада липидов в подкожно-жировой клетчатке; выведение.</div>
				
				<div class="card__more"><span>подробнее</span></div>
				
				<div class="card__bottom">
					<div class="card__price">5 000 р.</div>
					<div class="card__button">Купить</div>
				</div>
			</div>
		</div>	
	</div>
	
	<div>Показать еще</div>
	
	<div class="opacity-block">
		<h2 class="main-title">О подарочных сертификатах</h2>
		
		<div class="wrapper">
			<p>Приобретая подарочный сертификат в наш спа-центр, вы можете быть уверены, с подарком точно угодите.</p>

			<p>Эстетические услуги, уходовые программы, СПА-ритуалы... Из всего многообразия эксклюзивных услуг вы можете выбрать необходимые, включив в сертификат любую услугу из нашего меню или же составив индивидуальную СПА-программу. Либо, по желанию, просто приобрести сертификат с определённым номиналом, а обладатель сертификата выберет то, что ему по душе.</p>

			<p>«Подарочный сертификат» – превосходный вариант корпоративного подарка. Может быть, вы планируете отметить сотрудников за их достижения или поздравить с праздником? Тогда подарочный сертификат на услуги нашего центра превосходный выбор! Поверьте, такой подарок несомненно оценят высоко.</p>

			<p>Повод подарить сертификат может быть официальный: день рождения, свадьба, Новый год, День влюблённых, День Защитника Отечества, Международный женский день, именины или день ангела. Но можно подарить сертификат просто так, без повода. Спонтанный подарок, тем более такого уровня, всегда приятно получать</p>

			<p>Информацию о приобретении сертификатов вы можете уточнить по телефону +7 (3519) 580-111.</p>
		</div>
		
	</div>
	
	<h2 class="main-title">Вопрос-ответ</h2>
	
	<div class="accordion wrapper">
		<div class="accordion__item accordion__item-activ">
			<div class="accordion__title"> Сколько действует подарочный сертификат?</div>
			<div class="accordion__text accordion__text-activ"> Подарочный сертификат действителен в течении 6 месяцев с момента приобретения.</div>
		</div>
		<div class="accordion__item">
			<div class="accordion__title"> Сколько действует подарочный сертификат?</div>
			<div class="accordion__text"> Подарочный сертификат действителен в течении 6 месяцев с момента приобретения.</div>
		</div>
		<div class="accordion__item">
			<div class="accordion__title"> Сколько действует подарочный сертификат?</div>
			<div class="accordion__text"> Подарочный сертификат действителен в течении 6 месяцев с момента приобретения.</div>
		</div>
	</div>

	
	<foter>
	</foter>
</body>  
</html>

