.main-list .list {
  text-align: center;
  vertical-align: top;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.main-list .list .services-slider-thumb {
  display: inline-block;
  max-width: 185px;
}

.main-list .list .services-slider-thumb-description {
}

.main-list .sm-content {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .main-list .list .services-slider-thumb {
    max-width: 150px;
  }
}